@import './utils/fonts';
@import './utils/reset';
@import './utils/utils.scss';
@import './base';

@import './components/container';
@import './components/logo';
@import './components/link';
@import './components/pagination';

@import './layouts/header';
@import './layouts/hero';
@import './layouts/about';
@import './layouts/advantages';
@import './layouts/procedures';
