@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-weight: 400;
  src: url("../fonts/roboto-v50-latin-regular.woff2") format("woff2"),
    url("../fonts/roboto-v50-latin-regular.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-weight: 500;
  src: url("../fonts/roboto-v50-latin-500.woff2") format("woff2"),
    url("../fonts/roboto-v50-latin-500.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-weight: 600;
  src: url("../fonts/roboto-v50-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-weight: 700;
  src: url("../fonts/roboto-v50-latin-700.woff2") format("woff2"),
    url("../fonts/roboto-v50-latin-700.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 400;
  src: url("../fonts/poppins-v24-latin-regular.woff2") format("woff2"),
    url("../fonts/poppins-v24-latin-regular.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Play";
  font-weight: 700;
  src: url("../fonts/play-v21-latin-700.woff2") format("woff2"),
    url("../fonts/play-v21-latin-700.woff") format("woff");
}
