.button {
  border-radius: 24px;
  padding: 16px 24px;
  background: var(--beauty-landing-2-s2);
  border: none;
  font-weight: 600;
  font-size: 16px;
  color: var(--beauty-landing-2-background);
  margin: 0 auto 8px;

  @media screen and (min-width: 768px) {
    margin: 0 0 14px;

    &:hover {
      border: 2px solid var(--beauty-landing-2-s2);
      background-color: transparent;
      color: var(--beauty-landing-2-c1);
    }
  }

  @media screen and (min-width: 1280px) {
    padding: 16px 32px;
    border-radius: 32px;
    font-size: 18px;
  }
}

.form {
  &__button {
    width: 241px;
    padding-left: 12px;
    padding-right: 12px;

    @media screen and (min-width: 360px) {
      padding-left: 16px;
      padding-right: 16px;
    }

    @media screen and (min-width: 768px) {
      padding-left: 24px;
      padding-right: 24px;
      width: 260px;
      margin-bottom: 8px;

      &:hover {
        border: 2px solid var(--beauty-landing-2-s2);
        background-color: transparent;
        color: var(--beauty-landing-2-background);
      }
    }

    @media screen and (min-width: 1280px) {
      width: 280px;
    }
  }
}

.modal {
  &__close--btn {
    position: absolute;
    top: 12px;
    right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--beauty-landing-2-background);
    padding: 0;

    @media screen and (min-width: 768px) {
      top: 42px;
      right: 42px;
    }
  }

  &__close--icon {
    width: 24px;
    height: 24px;
    stroke: currentColor;
    fill: none;

    @media screen and (min-width: 768px) {
      width: 32px;
      height: 32px;
    }
  }
}
