.button {
  border-radius: 24px;
  padding: 16px 24px;
  background: var(--beauty-landing-2-s2);
  border: none;
  font-weight: 600;
  font-size: 16px;
  color: var(--beauty-landing-2-background);
  margin: 0 auto 8px;

  @media screen and (min-width: 768px) {
    margin: 0 0 14px;
  }

  @media screen and (min-width: 1280px) {
    padding: 16px 32px;
    border-radius: 32px;
    font-size: 18px;
  }
}

.form {
  &__button {
    width: 241px;
    padding-left: 12px;
    padding-right: 12px;

    @media screen and (min-width: 360px) {
      padding-left: 16px;
      padding-right: 16px;
    }

    @media screen and (min-width: 768px) {
      padding-left: 24px;
      padding-right: 24px;
      width: 260px;
      margin-bottom: 8px;
    }

    @media screen and (min-width: 1280px) {
      width: 280px;
    }
  }
}
