.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;

  @media screen and (min-width: 360px) {
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    padding-left: 100px;
    padding-right: 100px;
  }
}
