.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 24px;
  background-color: var(--beauty-landing-2-c1);
  padding: 24px 12px;
  margin-bottom: 24px;

  @media screen and (min-width: 360px) {
    padding: 42px 16px;

    &__title {
      font-size: 22px;
    }
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    width: 356px;
    height: 460px;
    padding-top: 36px;
    padding-bottom: 36px;
  }

  @media screen and (min-width: 1280px) {
    width: 422px;
    height: 480px;
    padding: 48px 56px;
  }

  &__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.3;
    text-align: center;
    color: var(--beauty-landing-2-background);
    margin-bottom: 24px;

    @media screen and (min-width: 360px) {
      font-size: 22px;
    }

    @media screen and (min-width: 768px) {
      width: 260px;
    }

    @media screen and (min-width: 1280px) {
      margin-bottom: 32px;
      width: 284px;
    }
  }

  &__field {
    margin-bottom: 16px;
  }

  &__input {
    border: 1.5px solid var(--beauty-landing-2-s5);
    border-radius: 24px;
    background-color: transparent;
    font-size: 13px;
    padding: 16px 24px;
    width: 241px;
    color: var(--beauty-landing-2-background);

    &::placeholder {
      color: var(--beauty-landing-2-background);
    }

    &:hover {
      border: 2px solid var(--beauty-landing-2-s5);
      background-color: var(--beauty-landing-2-s5);
    }

    &:focus,
    &:active {
      outline: none;
    }

    &:not(:placeholder-shown) {
      background-color: transparent;
      color: var(--beauty-landing-2-background);
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 1000px transparent inset;
      -webkit-text-fill-color: var(--beauty-landing-2-background);
      transition: background-color 9999s ease-in-out 0s;
    }

    @media screen and (min-width: 768px) {
      width: 310px;
    }

    @media screen and (min-width: 1280px) {
      border: 2px solid var(--beauty-landing-2-s5);
      border-radius: 32px;
      padding: 18px 32px;
    }
  }

  &__terms {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    color: var(--beauty-landing-2-s5);
    padding-bottom: 24px;
    width: 310px;
  }

  &__link {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--beauty-landing-2-s5);
  }
}
