.link {
  font-weight: 400;
  font-size: 16px;
  color: var(--beauty-landing-2-c1);

  @media screen and (min-width: 768px) {
    transition: color 0.3s;

    &:hover {
      color: var(--beauty-landing-2-s2);
    }
  }

  @media screen and (min-width: 1280px) {
    font-size: 18px;
  }
}
