.logo {
  width: 57px;
  height: 30px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 0.94;

  @media screen and (min-width: 1280px) {
    width: 74px;
    height: 42px;
  }
}

.footer {
  &__logo {
    text-align: center;
    padding-top: 32px;
    margin-bottom: 42px;

    @media screen and (min-width: 760px) {
      padding-top: 0;
      margin-bottom: 0;
    }

    @media screen and (min-width: 1280px) {
      .logo {
        width: 84px;
      }
    }
  }
}
