.logo {
  width: 57px;
  height: 30px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 0.94;
}

@media screen and (min-width: 1280px) {
  .logo {
    width: 74px;
    height: 42px;
  }
}
