.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  height: auto;
  width: 90%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--beauty-landing-2-c1);
  border-radius: 24px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 24px 10px;
  max-width: 723px;

  @media screen and (min-width: 768px) {
    border-radius: 48px;
    padding-right: 144px;
    padding-left: 144px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 42px;
    padding-bottom: 42px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
    background-color: var(--beauty-landing-2-c1);
  }

  &__form--title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.3;
    text-align: center;
    color: var(--beauty-landing-2-background);
    margin-bottom: 24px;
    width: 268px;

    @media screen and (min-width: 768px) {
      font-size: 22px;
      width: 284px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.3;
    color: var(--beauty-landing-2-background);
    padding-top: 12px;
    text-align: center;
    max-width: 268px;
    margin: 0 auto 40px;

    @media screen and (min-width: 768px) {
      font-size: 56px;
      max-width: 385px;
    }
  }
}
