.pagination {
  display: flex;
  align-items: center;
  gap: 24px;
  pointer-events: auto;
  margin-top: 16px;
  justify-content: center;

  &__button {
    display: inline-block;
    background-color: var(--beauty-landing-2-s5);
    border-radius: 50%;
    border: none;
    width: 12px;
    height: 12px;
    padding: 0;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
    pointer-events: auto;

    &--active {
      background-color: var(--beauty-landing-2-s2);
    }

    &:hover:not(&--active) {
      background-color: var(--beauty-landing-2-s2);
      transform: scale(1.2);
    }
  }

  @media screen and (min-width: 768px) {
    margin-top: 24px;
  }
}
