.section-about {
  position: relative;
}

.section-about-card {
  display: none;
}

.section-about-title {
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 24px;
  width: 255px;
}

.accent.title,
.accent.text {
  text-transform: capitalize;
  font-weight: 700;
}

.accent.title {
  color: var(--beauty-landing-2-s2);
}

.section-about-text {
  font-weight: 400;
  font-size: 18px;
}

.section-about-text.first {
  margin-bottom: 16px;
}

.section-about::after {
  content: "";
  position: absolute;
  right: 20px;
  bottom: -70px;
  background-image: url(../images/star-dark-blue.svg);
  width: 40px;
  height: 40px;
}

.star.star-lightblue,
.star.star-lightgrey {
  display: none;
}

@media screen and (min-width: 768px) {
  .container-about {
    display: flex;
    gap: 32px;
  }

  .section-about {
    margin-top: -50px;
  }
  .section-about-writing {
    width: 415px;
  }

  .section-about-title {
    padding-top: 20px;
    width: 100%;
  }

  .section-about-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    gap: 60px;
    width: 300px;
  }

  .card-facelift {
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }

  .card-facelift.after {
    align-self: flex-end;
  }

  .card-facelift.before {
    position: relative;
  }

  .section-about::after {
    display: none;
  }

  .section-about-card::before {
    content: "";
    position: absolute;
    top: 10%;
    right: 8%;
    background-image: url(../images/star-light-blue.svg);
    width: 25px;
    height: 25px;
  }

  .section-about-card::after {
    content: "";
    position: absolute;
    top: 53%;
    right: 54%;
    background-image: url(../images/star-dark-blue.svg);
    fill: var(--beauty-landing-2-c6);
    width: 40px;
    height: 40px;
  }

  .section-about-star::after {
    content: "";
    position: absolute;
    top: 35%;
    left: 85%;
    background-image: url(../images/star-grey.svg);
    width: 15px;
    height: 15px;
  }
}

@media screen and (min-width: 1280px) {
  .section-about-writing {
    width: 660px;
  }

  .section-about-title {
    font-weight: 700;
    font-size: 64px;
    line-height: 1.1;
    margin-bottom: 40px;
  }

  .section-about-text {
    font-size: 22px;
    line-height: 1.72;
  }

  .section-about-text.first {
    margin-bottom: 40px;
  }

  .section-about-card {
    width: 400px;
    gap: 40px;
  }

  .card-facelift {
    width: 227px;
    height: 227px;
  }

  .section-about-card::before {
    width: 35px;
    height: 35px;
  }

  .section-about-card::after {
    width: 56px;
    height: 56px;
  }

  .section-about-star::after {
    width: 16px;
    height: 16px;
  }
}
