.about {
  position: relative;

  @media screen and (min-width: 768px) {
    margin-top: -50px;
  }

  @media screen and (min-width: 768px) {
    &__container {
      display: flex;
      gap: 32px;
    }
  }

  @media screen and (min-width: 768px) {
    &__content {
      width: 415px;

      @media screen and (min-width: 1280px) {
        width: 660px;
      }
    }
  }

  &__card {
    display: none;

    @media screen and (min-width: 768px) {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: auto;
      gap: 60px;
      width: 300px;

      &::before {
        content: '';
        position: absolute;
        top: 10%;
        right: 8%;
        background-image: url(../images/star-light-blue.svg);
        width: 25px;
        height: 25px;
      }

      &::after {
        content: '';
        position: absolute;
        top: 53%;
        right: 54%;
        background-image: url(../images/star-dark-blue.svg);
        fill: var(--beauty-landing-2-c6);
        width: 40px;
        height: 40px;
      }
    }

    @media screen and (min-width: 1280px) {
      width: 400px;
      gap: 40px;

      &::before {
        width: 35px;
        height: 35px;
      }

      &::after {
        width: 56px;
        height: 56px;
      }
    }
  }

  &__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.1;
    margin-bottom: 24px;
    width: 255px;

    @media screen and (min-width: 768px) {
      padding-top: 20px;
      width: 100%;
    }

    @media screen and (min-width: 1280px) {
      font-weight: 700;
      font-size: 64px;
      line-height: 1.1;
      margin-bottom: 40px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 18px;

    &--first {
      margin-bottom: 16px;
    }

    @media screen and (min-width: 1280px) {
      font-size: 22px;
      line-height: 1.72;

      &--first {
        margin-bottom: 40px;
      }
    }
  }

  &::after {
    content: '';
    position: absolute;
    right: 20px;
    bottom: -50px;
    background-image: url(../images/star-dark-blue.svg);
    width: 30px;
    height: 30px;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &__image {
    border-radius: 50%;
    width: 200px;
    height: 200px;

    &--after {
      align-self: flex-end;
    }

    &--before {
      position: relative;
    }

    @media screen and (min-width: 1280px) {
      width: 227px;
      height: 227px;
    }
  }

  &__star {
    &::after {
      content: '';
      position: absolute;
      top: 35%;
      left: 85%;
      background-image: url(../images/star-grey.svg);
      width: 15px;
      height: 15px;
    }

    @media screen and (min-width: 1280px) {
      &::after {
        width: 16px;
        height: 16px;
      }
    }
  }
}
