.bg-wave {
  background-image: url(../images/background-advantages-mob.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -40px;
  position: relative;

  @media screen and (min-width: 768px) {
    position: relative;
    top: -40px;
    background-image: url(../images/background-advantages-desk.svg);
    background-position: top center;
    overflow: visible;
    z-index: 1;
  }
}

.advantages {
  padding-top: 100px;
  padding-bottom: 20px;

  @media screen and (min-width: 768px) {
    padding-bottom: 24px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 175px;
    padding-bottom: 48px;
  }

  &__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.1;
    text-align: center;
    margin: 0 auto 24px;
    max-width: 300px;

    @media screen and (min-width: 768px) {
      padding-top: 20px;
      margin-bottom: 48px;
    }

    @media screen and (min-width: 1280px) {
      font-weight: 700;
      font-size: 64px;
      margin-bottom: 48px;
      max-width: 532px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: center;
    }

    @media screen and (min-width: 1280px) {
      gap: 56px;
    }
  }

  &__item {
    border-radius: 24px;
    box-shadow: 0 4px 4px 0 rgba(46, 47, 66, 0.08),
      0 4px 4px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: var(--beauty-landing-2-background);
    padding: 12px 24px;

    @media screen and (min-width: 1280px) {
      border-radius: 32px;
      padding: 24px 32px;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  &__text {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;

    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.1;
    }

    @media screen and (min-width: 1280px) {
      font-size: 18px;
      line-height: 1.3;
    }
  }
}
