.contacts {
  padding-top: 20px;

  @media screen and (min-width: 768px) {
    padding-bottom: 20px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 48px;
    padding-bottom: 48px;

    &__container {
      width: 1060px;
      margin: 0 auto;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 32px;
    text-align: center;
    margin-bottom: 24px;

    @media screen and (min-width: 1280px) {
      font-weight: 700;
      font-size: 64px;
      margin-bottom: 48px;
    }
  }

  &__form-map {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 768px) {
      flex-direction: row-reverse;
      gap: 16px;
    }

    @media screen and (min-width: 1280px) {
      gap: 32px;
    }
  }

  &__map {
    flex-shrink: 0;
    height: 232px;
    margin: 0 -10px;
    border: none;

    @media screen and (min-width: 360px) {
      margin: 0 -20px;
    }

    @media screen and (min-width: 425px) {
      margin: 0 -40px;
    }

    @media screen and (min-width: 768px) {
      margin: 0;
      width: 356px;
      height: 460px;
    }

    @media screen and (min-width: 1280px) {
      width: 605px;
      height: 480px;
    }
  }
}
