.footer {
  position: relative;
  background-color: var(--beauty-landing-2-c1);
  padding-bottom: 65px;

  @media screen and (min-width: 768px) {
    padding-top: 20px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 48px;
    padding-bottom: 55px;

    &::after {
      content: '';
      width: 278px;
      height: 213px;
      position: absolute;
      right: 0;
      bottom: 0;
      background-image: url(../images/footer-photo.png);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  @media screen and (min-width: 768px) {
    &__container {
      display: flex;
      gap: 75px;

      @media screen and (min-width: 1280px) {
        gap: 165px;
      }
    }
  }

  @media screen and (min-width: 768px) {
    &__nav {
      display: flex;
      gap: 87px;

      @media screen and (min-width: 1280px) {
        gap: 165px;
      }
    }
  }

  &__menu {
    margin-bottom: 16px;

    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }
  }

  &__menu-item {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__address-list {
    display: none;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: column;
    }
  }

  @media screen and (min-width: 768px) {
    &__address-item {
      margin-bottom: 16px;
    }
  }

  &__social-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 8px;

    @media screen and (min-width: 768px) {
      justify-content: flex-start;
      margin-bottom: 0;
    }
  }

  &__social-icon {
    fill: var(--beauty-landing-2-background);
    width: 32px;
    height: 32px;

    @media screen and (min-width: 1280px) {
      width: 42px;
      height: 42px;
    }
  }

  &__address-info {
    text-align: center;
  }

  &__address-copyright {
    color: var(--beauty-landing-2-s5);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;

    @media screen and (min-width: 768px) {
      margin-top: 16px;
    }

    @media screen and (min-width: 1280px) {
      font-size: 13px;
      text-align: left;
    }
  }
}
