.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  @media screen and (min-width: 768px) {
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.25);
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;

    @media screen and (min-width: 768px) {
      padding-top: 24px;
      padding-bottom: 24px;
    }

    @media screen and (min-width: 1280px) {
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }

  @media screen and (min-width: 768px) {
    &__nav {
      display: flex;
      align-items: center;
      gap: 40px;
      flex-grow: 1;
    }
  }

  &__menu {
    display: none;

    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: center;
      flex-grow: 1;
      gap: 24px;
    }

    @media screen and (min-width: 1280px) {
      gap: 56px;
    }
  }

  &__address-list {
    display: none;

    @media screen and (min-width: 768px) {
      display: flex;
      gap: 16px;
    }
  }

  @media screen and (min-width: 768px) {
    &__address-item {
      width: 32px;
      height: 32px;
    }
  }

  @media screen and (min-width: 768px) {
    &__address-link {
      transition: fill 0.3s;

      &:hover {
        fill: var(--beauty-landing-2-background);
      }
    }
  }

  &__burger {
    border: none;
    background-color: transparent;
    fill: var(--beauty-landing-2-s2);

    @media screen and (min-width: 768px) {
      display: none;
    }
  }
}
