.hero-section {
  position: relative;
  padding-top: 38px;
  padding-bottom: 56px;
  background-image: linear-gradient(
      38deg,
      #fff 0%,
      rgba(255, 255, 255, 0.78) 31.23%,
      rgba(255, 255, 255, 0.2) 50.39%,
      rgba(255, 255, 255, 0) 68.37%
    ),
    url(../../images/hero-background-mob.jpg),
    url(../../images/hero-background-mob@2x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 310px;
  overflow: hidden;
}

.hero-container {
  padding-top: 25px;
}

.hero-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
}

.hero-title {
  font-family: var(--third-family);
  text-transform: capitalize;
  font-weight: 700;
  font-size: 48px;
  line-height: 0.85;
  text-align: center;
  color: var(--beauty-landing-2-s2);
  margin-bottom: 32px;
}

.button {
  border-radius: 24px;
  padding: 16px 24px;
  background: var(--beauty-landing-2-s2);
  border: none;
  font-weight: 600;
  font-size: 16px;
  color: var(--beauty-landing-2-background);
  margin: 0 auto 8px;
}

.hero-text-two {
  font-weight: 400;
  font-size: 11px;
  line-height: 1.64;
  text-align: center;
  color: var(--beauty-landing-2-c3);
}

.hero-wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.hero-wave svg {
  width: 100%;
  height: auto;
  display: block;
}
