.procedures {
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  z-index: 2;

  @media screen and (min-width: 768px) {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  &__title {
    font-weight: 500;
    font-size: 32px;
    text-align: center;
    margin-bottom: 24px;

    @media screen and (min-width: 1280px) {
      font-weight: 700;
      font-size: 64px;
      margin-bottom: 48px;
    }
  }

  &__btn {
    display: none;

    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      padding: 0;
      color: var(--beauty-landing-2-c1);
      border: 1px solid var(--beauty-landing-2-c1);
      background-color: transparent;
      cursor: pointer;

      &:hover {
        background-color: var(--beauty-landing-2-s2);
        border: none;
        color: var(--beauty-landing-2-background);
      }
    }
  }

  &__icon {
    fill: currentColor;
  }

  &__slider {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__card {
    overflow: hidden;
    width: 100%;

    &.swiper {
      overflow: hidden;
    }

    .swiper-wrapper {
      box-sizing: border-box;
    }

    .swiper-slide {
      height: auto;
      box-sizing: border-box;
    }

    .procedures__item {
      width: 100%;
      height: 100%;
    }
  }

  &__image-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 416px;
    background-image: linear-gradient(
      180deg,
      rgba(1, 28, 68, 0) 47.4%,
      rgba(1, 28, 68, 0.73) 82.66%,
      #011c44 99.06%
    );
    border-radius: 4px 120px;
    cursor: pointer;
    overflow: hidden;
  }

  &__image {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.19;
    text-align: center;
    color: var(--beauty-landing-2-background);
    padding-bottom: 24px;
  }
}
